Repository FnrDev/ticket-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, ci

.github/labeler.yml:

chore:
  - 'README.md'
  - '.gitignore'
  - 'package.json'
  - 'LICENSE'

ci:
  - '.github/*'
  - '.github/workflows/*'

fix client defined
  commands/ticket/addUser.js
Labels: none

feat: Add config show
  commands/ticket/config.js
  configOptions.js
Labels: none

chore: improve pull request template
  .github/pull_request_template.yml
Labels: ci

allow mod only for ticket list command
  commands/ticket/tickets-list.js
Labels: none

chore: hide package-lock
  .gitignore
  package-lock.json
Labels: chore

feat: Send message to ticket on member leave
  events/guild/guildMemberRemove.js
  index.js
Labels: none

feat: Add member to ticket and send message to ticket
  events/guild/guildMemberAdd.js
Labels: none

await promise
  events/guild/guildMemberAdd.js
Labels: none

remove debugger
  index.js
Labels: none

typo
  events/guild/guildMemberAdd.js
Labels: none

mention member
  events/guild/guildMemberRemove.js
Labels: none

feat: add variables
  commands/ticket/new.js
  commands/ticket/variables.js
  configOptions.js
  events/guild/guildMemberAdd.js
Labels: none
